@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
.blind {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

h1,
h2,
h3 {
    text-align: center;
    margin: 0;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

a {
    margin: 0;
    text-decoration: none;
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

td {
    text-align: center;
}

button {
    border: 0;
    cursor: pointer;
    font-family: "나눔고딕", NanumGothic, sans-serif;
}

img {
    vertical-align: top;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

input {
    border: 0;
}
